"""

count() - Retorna o numero de linha de cada grupo
mean()  - Retorna o média dos valores de cada grupo
max()   - Retorna o máximo de valores para cada grupo
min()   - retorna o minimos dos valores para cada grupo
sum()   - retorna o total dos valores de cada grupo
avg()   - Retorna a media dos valores de cada grupo
agg()   - Usando essa funlão se pode calcular mais de um agregado por vez.
pivot() - usada para dinamizar o DataFrame


"""

In [ ]:
simpleData = [("James","Sales","NY",90000,34,10000),
    ("Michael","Sales","NY",86000,56,20000),
    ("Robert","Sales","CA",81000,30,23000),
    ("Maria","Finance","CA",90000,24,23000),
    ("Raman","Finance","CA",99000,40,24000),
    ("Scott","Finance","NY",83000,36,19000),
    ("Jen","Finance","NY",79000,53,15000),
    ("Jeff","Marketing","CA",80000,25,18000),
    ("Kumar","Marketing","NY",91000,50,21000)
  ]

schema = ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data=simpleData, schema = schema)

df.show(truncate=False)

In [ ]:
df.groupBy("department").sum("salary").show()

In [ ]:
df.groupBy("department").count().show()

In [ ]:
df.groupBy("department").min().show()

In [ ]:
df.groupBy("department").max().show()

In [ ]:
df.groupBy("department").avg('salary').show()

In [ ]:
df.groupBy("department").mean('salary').show()

In [ ]:
from pyspark.sql.function import sum,avg,max

df.groupBYy("department")\
  .agg(sum("salary").alias("sum_salary"),\
       avg("salary").alias("avg_salary"),\
       sum("salary").alias("sum_salary"),\
       max("bonus").alias("max_bonus")).show()