In [ ]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.Builder.appName('SparkByExamples.com').getOrCreate()

In [ ]:
simpleData = [("James","Sales","NY",90000,34,10000), \
              ("Michael","Sales","NY",86000,56,20000), \
              ("Robert","Sales","CA",81000,30,23000), \
              ("Maria","Finance","CA",90000,24,23000) \
  ]

columns= ["employee_name","department","state","salary","age","bonus"]
df = spark.createDataFrame(data = simpleData, schema = columns)
df.show(truncate=False)

In [ ]:

simpleData2 = [("James","Sales","NY",90000,34,10000), \
               ("Maria","Finance","CA",90000,24,23000), \
               ("Jen","Finance","NY",79000,53,15000), \
               ("Jeff","Marketing","CA",80000,25,18000), \
               ("Kumar","Marketing","NY",91000,50,21000) \
  ]
columns2= ["employee_name","department","state","salary","age","bonus"]

df2 = spark.createDataFrame(data = simpleData2, schema = columns2)

df2.show(truncate=False)

In [ ]:
uniondf = df.union(df2)

In [ ]:
uniondf2 = df.unionAll(df2)

In [ ]:
uniondf2 = df.unionAll(df2).distinct()